/**/bin/**
/**/obj/**
/**/packages/**
/**/Debug/**
/**/.vs/**
/.ssotme/**
/Windows/CLI/SSoTme.OST.CLI.csproj.user
/Windows/CLI/Properties/launchSettings.json
/AICapture/Backup/*.zip
/package-lock.json
/Windows/Lib/go-live.ps1

*.egg-info
build/
.idea/
