openapi: "3.0.4"
info:
  title: SSoTme Agent
  version: "1.0"
  description: Agent that uses the ssotme protocol to assist users in editing their projects' single source of truth
servers:
  - url: https://ssotme-cli-airtable-bridge-ahrnz660db6k4.aws-us-east-1.controlplane.us/copilot
    description: Development server
paths:
  /do-action/list_tables:
    post:
      summary: View a list of tables in the given base
      description: View the list of spreadsheet tables that exist in the provided database ID
      operationId: listTables
      parameters:
        - name: baseId
          in: query
          required: true
          description: The corresponding base/database ID
          schema:
            type: string
            example: "abcdef123"
      responses:
        '200':
          description: The table data was successfully returned
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - target
                properties:
                  data:
                    type: array
                    description: The list of returned tables
                    example: [{"id": "table_id", "name": "table_name", "database_id": "baseId"}]
                  target:
                    type: object
                    description: The base where the action was submitted
                    example: {"baseId": "abcd123"}
        '400':
          description: Bad request - the bridge server didn't understand your request
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Missing baseId parameter"
        '408':
          description: Timed out waiting for CLI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Timed out"
                  baseId:
                    type: string
                    example: "abcd123"
  /do-action/get_table_fields:
    post:
      summary: View all fields in the given table.
      description: View the raw json of the contents of the given spreadsheet/table.
      operationId: viewTable
      parameters:
        - name: baseId
          in: query
          required: true
          description: The corresponding base/database ID
          schema:
            type: string
            example: "abcdef123"
      requestBody:
        required: true
        description: Include the table ID and other parameters here
        content:
          application/json:
            schema:
              type: object
              required:
                - tableId
              properties:
                tableId:
                  type: string
                  description: The ID of the table within the specified base
                  example: "table10"
      responses:
        '200':
          description: The table data was successfully retrieved
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - target
                properties:
                  data:
                    type: object
                    description: The server's full response
                    properties:
                      results:
                        type: array
                        description: The full contents of the table spreadsheet, organized by row ID
                        example:
                          [{
                            "rowId": "1",
                            "cell0": {
                              "fieldName": "Name",
                              "fieldId": 4501110,
                              "value": "help"
                            },
                            "cell1": {
                              "fieldName": "Description",
                              "fieldId": 4501111,
                              "value": "Show help about how to use the SSoT.me CLI"
                            },
                            {
                              "rowId": 2,
                               ...
                            }
                          }]
                  target:
                    type: object
                    description: The base & table where the action was submitted
                    example: { "baseId": "abcd123", "tableId": "thetable" }
        '400':
          description: Bad request - the bridge server didn't understand your request
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Missing baseId parameter"
        '408':
          description: Timed out waiting for CLI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Timed out"
                  baseId:
                    type: string
                    example: "abcd123"
  /do-action/get_cell:
    post:
      summary: Get the text contents of a specific cell from a table spreadsheet
      description: View a cell's contents given table ID, row ID, and field (column) ID
      operationId: readCell
      parameters:
        - name: baseId
          in: query
          required: true
          description: The corresponding base/database ID
          schema:
            type: string
            example: "abcdef123"
      requestBody:
        required: true
        description: Include the table ID and other parameters here
        content:
          application/json:
            schema:
              type: object
              required:
                - tableId
                - fieldId
                - rowId
              properties:
                tableId:
                  type: string
                  description: The ID of the table within the specified base
                  example: "table10"
                fieldId:
                  type: string
                  description: The ID of the field/column where the cell is
                rowId:
                  type: string
                  description: The ID of the row where the cell is
      responses:
        '200':
          description: The cell data was successfully retrieved
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - target
                properties:
                  data:
                    type: object
                    description: The server's response including the cell's text
                    properties:
                      content:
                        type: string
                        description: The text contents of the cell
                  target:
                    type: object
                    description: The full location information of the content
                    properties:
                      baseId:
                        type: string
                      tableId:
                        type: string
                      rowId:
                        type: string
                      fieldId:
                        type: string
        '400':
          description: Bad request - the bridge server didn't understand your request
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Missing baseId parameter"
        '408':
          description: Timed out waiting for CLI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Timed out"
                  baseId:
                    type: string
                    example: "abcd123"
  /do-action/update_cell:
    post:
      summary: Update the specified cell to have new text content
      description: Replace the cell's text content with the specified string
      operationId: writeCell
      parameters:
        - name: baseId
          in: query
          required: true
          description: The corresponding base/database ID
          schema:
            type: string
            example: "abcdef123"
      requestBody:
        required: true
        description: Include the table ID and other parameters here
        content:
          application/json:
            schema:
              type: object
              required:
                - tableId
                - fieldId
                - rowId
                - content
              properties:
                tableId:
                  type: string
                  description: The ID of the table within the specified base
                  example: "table10"
                fieldId:
                  type: string
                  description: The ID of the field/column where the cell is
                rowId:
                  type: string
                  description: The ID of the row where the cell is
                content:
                  type: string
                  description: The new text value to replace with
      responses:
        '200':
          description: The cell data was successfully updated
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - target
                properties:
                  data:
                    type: object
                    description: The updated contents of the row containing the cell
                  target:
                    type: object
                    description: The full location information of the content
                    properties:
                      baseId:
                        type: string
                      tableId:
                        type: string
                      rowId:
                        type: string
                      fieldId:
                        type: string
        '400':
          description: Bad request - the bridge server didn't understand your request
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Missing baseId parameter"
        '408':
          description: Timed out waiting for CLI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Timed out"
                  baseId:
                    type: string
                    example: "abcd123"
  /do-action/create_field:
    post:
      summary: Creates a new field (column)
      description: Create a new column in the table spreadsheet
      operationId: writeField
      parameters:
        - name: baseId
          in: query
          required: true
          description: The corresponding base/database ID
          schema:
            type: string
            example: "abcdef123"
      requestBody:
        required: true
        description: Include the table ID and other parameters here
        content:
          application/json:
            schema:
              type: object
              required:
                - tableId
                - content
              properties:
                tableId:
                  type: string
                  description: The ID of the table within the specified base
                  example: "table10"
                content:
                  type: object
                  description: The table metadata
                  properties:
                    fieldName:
                      type: string
                      description: the name of the new field
                    fieldType:
                      type: string
                      description: the datatype of the new field - options are - 'text', 'long_text', 'number', 'boolean', 'date'
      responses:
        '200':
          description: The field was successfully created
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - target
                properties:
                  data:
                    type: object
                    description: The new field's metadata
                    properties:
                      id:
                        type: number
                        description: the new field's ID
                      table_id:
                        type: string
                        description: the field's table ID
                      order:
                        type: string
                        description: the new field's order in the table
                  target:
                    type: object
                    description: The base location information of the new field
                    properties:
                      baseId:
                        type: string
                      tableId:
                        type: string
        '400':
          description: Bad request - the bridge server didn't understand your request
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Missing baseId parameter"
        '408':
          description: Timed out waiting for CLI response
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Error message
                    example: "Timed out"
                  baseId:
                    type: string
                    example: "abcd123"

  # cli will need to post with {"microsoft_tenant_id": "...", "baserow_token": "..."}
  # because copilot already sends the user's tenant_id in each api call
  # so that tenant_id could be connected to which bases are available to that user
  /available-bases:
    get:
      summary: Get list of available Base IDs and Table IDs
      description: Retrieves all Base and Table IDs that are currently available to the user's cli process.
      operationId: getAvailableBases
      responses:
        '200':
          description: Successfully retrieved available Base/Table IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  bases:
                    type: array
                    items:
                      type: object
                    description: Set of available Base and Table IDs
                    example: {"databases": {"id": "database_id", "tables": [{"id": "abcdef12345"}]}}
                  msg:
                    type: string
                    description: Success message
                    example: "Available bases retrieved successfully"
