<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="rmq_virtual_host" value="agen_20170528744.417004043333_2d0ba303d43043bb893270243e127126" />
        <add key="rmq_username" value="ssotmePublic" />
        <add key="rmq_password" value="ssotmePublic" />
        <add key="rmq_endpoint" value="sassymq.anabstractlevel.com" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>