<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="rmq_virtual_host" value="SSoTme" />
        <add key="rmq_username" value="smqPublic" />
        <add key="rmq_password" value="smqPublic" />
        <add key="rmq_endpoint" value="explore.ssot.me" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>