<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- Main CLI components -->
    <ComponentGroup Id="CLIComponents" Directory="BinFolder">
      <Component Id="SSoTmeCLI" Guid="*">
          <File Id="SSoTmeExe"
                Name="ssotme.exe"
                Source="bin\Release\ssotme.exe"
                KeyPath="yes">
          </File>

        <!-- Add to PATH -->
        <Environment Id="PATH"
                     Name="PATH"
                     Value="[BinFolder]"
                     Permanent="no"
                     Part="last"
                     Action="set"
                     System="yes" />
      </Component>

      <Component Id="AicCLI" Guid="*">
          <File Id="AicExe"
                Name="aic.exe"
                Source="bin\Release\aic.exe"
                KeyPath="yes">
          </File>
      </Component>

      <Component Id="AiCaptureCLI" Guid="*">
          <File Id="AiCaptureExe"
                Name="aicapture.exe"
                Source="bin\Release\aicapture.exe"
                KeyPath="yes">
          </File>
      </Component>

      <Component Id="CLIReadme" Guid="*">
        <File Id="ReadmeFile" 
                Name="README.md"
                Source="Assets\README.md"
                KeyPath="yes" />
      </Component>

      <Component Id="CLILicense" Guid="*">
        <File Id="LicenseTxtFile"
                Name="LICENSE.txt"
                Source="Resources\LICENSE.txt"
                KeyPath="yes" />
      </Component>

      <Component Id="CLIConfig" Guid="*">
        <File Id="DefaultConfig"
                Name="dotnet_info.json"
                Source="Resources\dotnet_info.json"
                KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <!-- create %HOME%.ssotme directory and copy dotnet_info.json there -->
    <CustomAction Id="CreateSsotmeDir"
                BinaryKey="WixCA"
                DllEntry="WixQuietExec"
                Execute="deferred"
                Impersonate="yes"
                Return="check" />

    <CustomAction Id="SetCreateSsotmeDir"
                Property="CreateSsotmeDir"
                Value='cmd.exe /c mkdir "[USERPROFILE]\.ssotme"' />

    <CustomAction Id="CopyDotnetConfig"
                FileKey="DefaultConfig"
                ExeCommand='cmd.exe /c copy "[#DefaultConfig]" "[USERPROFILE]\.ssotme\dotnet_info.json"'
                Execute="deferred"
                Impersonate="yes"
                Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SetCreateSsotmeDir" Before="CreateSsotmeDir">NOT Installed</Custom>
      <Custom Action="CreateSsotmeDir" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="CopyDotnetConfig" After="CreateSsotmeDir">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>