<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
    xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
    <Bundle Name="SSoTme CLI Installer" Version="225.6.9" Manufacturer="EffortlessAPI" UpgradeCode="EB59dEFF-B979-464F-B36A-57F272E872A1">
        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication Theme="rtfLicense" LicenseFile="Assets\LICENSE.rtf" LogoFile="Assets\Icon.ico" />
        </BootstrapperApplication>


        <netfx:DotNetCoreSearch Id="DotNetCore8" Variable="DotNetCore8" RuntimeType="core" Platform="x64" MajorVersion="8" />

        <WixVariable Id="DotNetCore8DetectCondition" Value="DotNetCore8" Overridable="yes" />
        <WixVariable Id="DotNetCore8InstallCondition" Value="" Overridable="yes" />


        <Chain>
            <!-- Install .NET Runtime 7.0.20 if .NET Core 7.x is not installed -->
            <ExePackage Id="DotNetRuntime" DisplayName=".NET Runtime 8.0.16" Cache="remove" Protocol="burn" Permanent="yes" PerMachine="yes" Vital="yes" InstallArguments="/install /quiet /norestart /install-dir &quot;C:\Program Files\dotnet&quot;" UninstallArguments="/uninstall /quiet /norestart" DetectCondition="!(wix.DotNetCore8DetectCondition)" InstallCondition="!(wix.DotNetCore8InstallCondition)">
                <ExePackagePayload Name="dotnet-runtime-8.0.16-win-x64.exe" Size="28531120" DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/8.0.16/dotnet-runtime-8.0.16-win-x64.exe" Hash="8c61220263b0d5640cb5c5499652fff5a99bbe9930d95d42943eb336cff80ecc7e00a7f6304d992da8016f5e8bacaac5323ecab92aa2e2cdf214c4e8425aef4f" />
            </ExePackage>

            <MsiPackage Id="MainInstaller" SourceFile="bin\cli-installer\Release\CLI_Installer.msi" ForcePerMachine="yes" Vital="yes" bal:DisplayInternalUICondition="WixBundleAction &lt;&gt; 4" />

        </Chain>
    </Bundle>
</Wix>