<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" 
           Name="SSoTme CLI" 
           Language="1033" 
           Version="$(var.SSoTmeVersion)"
           Manufacturer="EffortlessAPI"
           UpgradeCode="EB59dEFF-B979-464F-B36A-57F272E872A1">

    <Package InstallerVersion="200"
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="SSoTme Command Line Interface"
             Comments="Installs the SSoTme CLI tool" />

    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      Schedule="afterInstallInitialize" />

    <Feature Id="ProductFeature" Title="SSoTme CLI" Level="1">
      <ComponentGroupRef Id="CLIComponents" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="CopyToHomeComp" />
      <ComponentRef Id="SSoTmeCLI" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="DOTNETINSTALLED" Value="0" />
    <Property Id="USER_FOLDER" >
        <DirectorySearch Id="userProfileSearch" Depth="0" Path="[%USERPROFILE]" />
    </Property>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="Assets\LICENSE.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\Icon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SSoTme">
          <Directory Id="BinFolder" Name="bin" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SSoTme" />
      </Directory>
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="*">
        <RegistryKey Root="HKLM" Key="Software\SSoTme\CLI">
          <RegistryValue Type="string" Name="InstallPath" Value="[INSTALLFOLDER]" KeyPath="yes" />
          <RegistryValue Type="string" Name="Version" Value="$(var.SSoTmeVersion)" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Product>
</Wix>