<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="SSoTme CLI" Version="1.0.0" Manufacturer="EffortlessAPI" UpgradeCode="32C380A7-054F-4970-A4CE-61A99BD59AB6" InstallerVersion="500" Compressed="yes" Scope="perMachine">
		<MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<!-- Use StandardDirectory elements for standard directories -->
		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="SSoTmeCLI" />
		</StandardDirectory>
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="SSoTme CLI" />
		</StandardDirectory>

		<!-- Components for the main application files -->
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="SsotmeExeComponent" Guid="A1C72334-2CC5-4EA2-BB56-7F0A206FF60B">
				<File Id="SsotmeExeFile" Source="..\Resources\ssotme.exe" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="AicExeComponent" Guid="D8A79BCC-71F4-4852-A108-7938CD95CCB7">
				<File Id="AicExeFile" Source="..\Resources\aic.exe" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="AicaptureExeComponent" Guid="1898CD75-809B-4534-A54C-18E5BED0E5EB">
				<File Id="AicaptureExeFile" Source="..\Resources\aicapture.exe" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="DotnetInfoJsonComponent" Guid="5933792D-6D85-48AC-9C43-08BB45B87415">
				<File Id="DotnetInfoJsonFile" Source="..\Resources\dotnet_info.json" KeyPath="yes" />
			</Component>
			<Component Id="ReadmeMdComponent" Guid="6E0FF053-D8E9-4219-B4AA-72FA8DE255B5">
				<File Id="ReadmeMdFile" Source="..\Resources\README.md" KeyPath="yes" Vital="yes" />
			</Component>
			<Component Id="LicenseTxtComponent" Guid="D07DFEC9-334B-498D-B0CF-CB5430510785">
				<File Id="LicenseTxtFile" Source="..\Resources\LICENSE.txt" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Separate component for Start Menu shortcut with registry KeyPath -->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="6CAA601D-B1E7-463D-B718-96D76BA81EF2">
				<Shortcut Id="StartMenuShortcut" Name="SSoTme CLI" Target="[#SsotmeExeFile]" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="CleanUpStartMenu" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\SSoTme\SSoTmeCLI" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<!-- Feature to group all components -->
		<Feature Id="ProductFeature" Title="SSoTme CLI" Level="1">
			<ComponentRef Id="SsotmeExeComponent" />
			<ComponentRef Id="AicExeComponent" />
			<ComponentRef Id="AicaptureExeComponent" />
			<ComponentRef Id="DotnetInfoJsonComponent" />
			<ComponentRef Id="ReadmeMdComponent" />
			<ComponentRef Id="LicenseTxtComponent" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Package>
</Wix>